%h1= t('edit_minutes')
- form_for [:admin, model], :url => admin_minutes_instance_url(model) do |f|
  = render 'fields', :object => f

= render 'popups'
= render 'admin/minutes/edit_scripts'

- content_for 'page_scripts', minutes_edit_javascripts
